## {{ ansible_managed }}
# https://github.com/systemd/zram-generator/blob/main/man/zram-generator.conf.md
# See /usr/share/doc/systemd-zram-generator/zram-generator.conf.example
# and/or zram-generator.conf(5) for a list of available options.
[{{ zram_device }}]
zram-size = min(ram / 2, 4096)
compression-algorithm = {{ zram_compression }}